@model Competition

<h2>@Model.Name</h2>
<div>
    @{int i = 1;}



    <h3>Score</h3>
    <table>
        <tr>
            <th></th>
            <th>Team</th>
            <th>GS</th>
            <th>W</th>
            <th>V</th>
            <th>G</th>
            <th>DV-DT</th>
            <th>DS</th>
            <th>P</th>
        </tr>
        @foreach (var team in Model.Teams)
        {
            <tr>
                <td>@i</td>
                <td>@team.Team.Name</td>

                <td>@(team.GamesPlayed)</td>
                <td>@team.GamesWon</td>
                <td>@team.GamesLost</td>
                <td>@team.GamesTied</td>
                <td>@team.Goals - @team.CounterGoals</td>
                <td>@team.DoelSaldo</td>
                <td>@team.Points</td>

            </tr>
            i++;

            }
    </table>


    <h3>Wedstrijden:</h3>
    <ol>
        @foreach (var game in Model.Games)
        {
            <li>
                <a asp-controller="Game" asp-action="Details" asp-route-id="@game.GameId">@game.HomeTeam.Team.Name vs. @game.AwayTeam.Team.Name</a>
                <p>@game.StartDateAndTime.ToString("dd-MM-yyyy")</p>
                <p>@game.StartDateAndTime.ToLocalTime()</p>
                @switch (game.Status)
                {
                    case 0:
                        <p>Nog niet gespeeld</p>
                        break;
                    case 1:
                        <p>Bezig</p>
                        <p>@game.GoalsHome - @game.GoalsAway</p>
                        break;
                    case 3:
                        <p>afgelopen</p>
                        <p>@game.GoalsHome - @game.GoalsAway</p>
                        break;
                }
            </li>


        }
    </ol>


</div>
