@model CompetitionListViewModel

 <h1>Competition</h1>
<a asp-area="" asp-controller="Competition" asp-action="NewComp">Nieuwe competitie aanmaken</a>

@foreach (var comp in Model.Competition)
{
<div>
    <a asp-controller="Competition" asp-action="Details" asp-route-id ="@comp.CompetitionId">@comp.Name</a>

    <h3>Teams:</h3>
    @foreach (var team in comp.Teams)
    {
       <p>@team.Team.Name</p>
    }

    @*<h3>Wedstrijden:</h3>
    @foreach (var game in comp.Games)
    {
        <p>@game.HomeTeam.Name vs. @game.AwayTeam.Name</p>
    }*@

</div>
} 