@model NewCompViewModel

@{
    ViewData["Title"] = "New";
    //Layout = null;
}

<form asp-action="NewComp" enctype="multipart/form-data" method="post" class=" form-horizontal" role="form">
    <h1>Competitie aanmaken</h1>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div>
        @*<label asp-for="SelectedTeam" class="col-md-2 control-label"></label>*@
            @foreach (var team in ViewBag.Teams)
            {
                <label>
                    <input type="checkbox"
                            name="SelectedTeam"
                            value="@team.TeamId"
                           @if (Model.SelectedTeam.Contains(team.TeamId))
                                       {<text> checked </text>}
                         /> @team.Name
                    </label>
            }

        <span asp-validation-for="SelectedTeam" class="text-danger"></span>

       @*<div class="editor-label">
                @Html.LabelFor(model => model.SelectedTeam)
            </div>
            <div class="editor-field">
                @Html.ListBoxFor(ViewBag.Teams, Model => model.SelectedTeam )
                @Html.ValidationMessageFor(model => model.SelectedTeam)
            </div>*@
        


    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="competitie aanmaken" />
        </div>
    </div>

</form>

<script>

</script>


@*<label>
    <input type="checkbox"
           asp-for="Team"               (Model.SendReport== false ? "" : "checked")
           value="@team"
    /> @team.Name
    </label>*@


@*<input name="@team" type="checkbox" value="@team" />
    <label>@team.Name</label>*@


@*<input type="checkbox"
    name="teams"
    value="@team.TeamId"
    @if(Model.Team.Any())
    {
        @if (Model.Team.Contains(team))
        {
            <text> checked </text>
        }

    } />*@