@model TeamInCompViewModel
<h1>TeamInComp</h1>

@foreach (var team in Model.Team)
{
    <div style="display: inline; border:20px; padding: 50px">
        <a asp-controller="TeamInComp" asp-action="Details" asp-route-id="@team.TeamInCompetitionId">@team.Team.Name</a>
        <p>@team.TeamInCompetitionId</p>
        
        
        @*<p>@team.Team.Location</p>
        @foreach (var playa in team.Team.Players)
        {
            <p>@playa.Name</p>
            
        }*@
        <br /><br /><br />
    </div>
}