@model BetFormViewModel

    <h1>Bet</h1>


    <form asp-action="PlaceBet" enctype="multipart/form-data" method="post" class=" form-horizontal" role="form">
        <h1>Weddenschap plaatsen</h1>
        <h1>@Model.game.HomeTeam.Team.Name vs. @Model.game.AwayTeam.Team.Name </h1>
        <h3>@Model.game.HomeTeam.Team.Location</h3>
        <h3>@Model.game.StartDateAndTime.ToString("dd-MM-yyyy")</ </h3>

        <div asp-validation-summary="All" class="text-danger"></div>

        <input asp-for="GameId" class="form-control" value="@Model.game.GameId" style="visibility:hidden " />
        <br />

        @*1/1 = thuis 2/2 = uit 3/x = gelijk*@
        <input type="radio" asp-for="Prediction" value=1 checked="checked" />Thuis wint: @Model.game.HomeTeam.Team.Name<br />
        <input type="radio" asp-for="Prediction" value=3 />Gelijkspel<br />
        <input type="radio" asp-for="Prediction" value=2 />Uit wint: @Model.game.AwayTeam.Team.Name<br />


        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input asp-controller="Bet" asp-action="PlaceBet" @*asp-route-id="@Model.game.GameId"*@ type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </div>

    </form>