@model GameViewModel

<h1>Game</h1>

@foreach (var game in Model.Game)
{
<div>
    <a asp-controller="Game" asp-action="Details" asp-route-id="@game.GameId">@game.HomeTeam.Team.Name vs. @game.AwayTeam.Team.Name</a>
    <p>@game.HomeTeam.Team.Location</p>
    <p>@game.StartDateAndTime.ToString("dd-MM-yyyy")</p>
    @switch (game.Status)
    {
        case 0:
            <p>Nog niet gespeeld</p>
            break;
        case 1:
            <p>Bezig</p>
            <p>@game.GoalsHome - @game.GoalsAway</p>
            break;
        case 3:
            <p>afgelopen</p>
            <p>@game.GoalsHome - @game.GoalsAway</p>
            break;
    }

</div>
}